<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Registrar cliente</h5>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="firstname2">Nombres*</label>
                    <input pInputText id="firstname2" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="lastname2">Apellidos*</label>
                    <input pInputText id="lastname2" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="lastname2">DIU*</label>
                    <input pInputText id="lastname2" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="city">Dirección Fiscal*</label>
                    <input pInputText id="city" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="city">Domicilio</label>
                    <input pInputText id="city" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="zip">Estado</label>
                    <input pInputText id="zip" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="zip">Cuidad</label>
                    <input pInputText id="zip" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="zip">Código postal</label>
                    <input pInputText id="zip" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="zip">Correo para facturas</label>
                    <input pInputText id="zip" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="zip">Correo personal</label>
                    <input pInputText id="zip" type="text" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="zip">Télefono de contacto(celular)</label>
                    <input pInputText id="zip" type="text" />
                </div>
            </div>
        </div>
    </div>
</div>
